<div class="site-header">
	<div style="float:left;">
		<%= link_to 'Paly Alumni & Friends', '/' %>
		<% if current_user && current_user.year %>
			|
			<%= link_to "Class of #{current_user.year}", classmates_path, :class => 'navbar-link' %> 
		<% end %>
	</div>
	<div style="float:right;">
		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.display_name %></strong>.
		  <%= link_to 'Profile', users_profile_path, :class => 'navbar-link' %> |
		  <%= link_to "Settings", edit_user_registration_path, :class => 'navbar-link' %> |
		  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		<% else %>
		  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
	</div>
	<br style="clear:both;"/>
</div>