<!DOCTYPE html>
<html>
<head>
  <title>Paly Alumni & Friends</title>
  <%= stylesheet_link_tag "foundation/foundation", "foundation/app" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render :partial => "layouts/zendesk_js" %>  
</head>
<body>
  <%= render :partial => "layouts/facebook_js" %>
  <%= render :partial => "layouts/google_analytics_js" %>
  <%= render :partial => "layouts/site_header" %>
  <%= render :partial => "layouts/flash_bar" %>
  <div class = "row">
    <h1>Paly Alumni</h1>
    
	<!--asdf;aksljf;alksjf;aklsfjdks-->
	<div class="top-bar">
	  <div id="responsive-menu">
	    <div class="top-bar-left">
	      <ul class="dropdown menu" data-dropdown-menu>
		<li><a href="/">Home</a></li>
		<li>
		  <a href="/about-us">About</a>
		  <ul class="menu vertical">
		    <li><a href="/about-us/paly-update">Paly Update</a></li>
		    <li><a href="/about-us/construction">Construction</a></li>
		  </ul>
		</li>
		<li><a href="/reunions">Reunions</a></li>
		<li><a href="/donate">Donate</a></li>
		<li><a href="/contact-us">Contact Us</a></li>
	      </ul>
	    </div>
	  </div>
	  </div>
  </div>


  
  <div class="content-yield">
		<%= yield %>
  </div>

    <!--Footer stuff below-->
  <!-- For Foundation Icons, put this in your head -->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

  <!-- Footer -->
  <footer class="footer">
    <div class="row full-width">
      <div class="small-12 medium-3 large-4 columns">
	<!--<i class="fi-laptop"></i>-->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
      </div>
      <div class="small-12 medium-3 large-4 columns">
	<!--<i class="fi-html5"></i>-->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
      </div>
      <div class="small-6 medium-3 large-2 columns">
	<h4>Work With Us</h4>
	<ul class="footer-links">
	  <li><a href="#">What We Do</a></li>
	  <li><a href="#">Pricing</a></li>
	  <li><a href="#">Events</a></li>
	  <li><a href="#">Blog</a></li>
	  <li><a href="#">FAQ's</a></li>
	  <ul>
      </div>
      <div class="small-6 medium-3 large-2 columns">
	<h4>Follow Us</h4>
	<ul class="footer-links">
	  <li><a href="#">GitHub</a></li>
	  <li><a href="#">Facebook</a></li>
	  <li><a href="#">Twitter</a></li>
	  <li><a href="#">Instagram</a></li>
	  <li><a href="#">Dribbble</a></li>
	  <ul>
      </div>
    </div>
    </footer>
  <!--End footer stuff-->

  <%= javascript_include_tag "foundation/vendor/jquery", "foundation/vendor/what-input", "foundation/vendor/foundation", "foundation/app" %>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
