<!DOCTYPE html>
<html>
<head>
  <title>Paly Alumni & Friends</title>
  <%= stylesheet_link_tag "foundation/foundation", "foundation/app" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render :partial => "layouts/zendesk_js" %>  
</head>
<body>
  <%= render :partial => "layouts/facebook_js" %>
  <%= render :partial => "layouts/google_analytics_js" %>
  <%= render :partial => "layouts/site_header" %>
  <%= render :partial => "layouts/flash_bar" %>
  <div class = "row">
    <h1>Paly Alumni</h1>
    
	<!--asdf;aksljf;alksjf;aklsfjdks-->
	<div class="top-bar">
	  <div id="responsive-menu">
	    <div class="top-bar-left">
	      <ul class="dropdown menu" data-dropdown-menu>
		<li><a href="/">Home</a></li>
		<li>
		  <a href="/about-us">About</a>
		  <ul class="menu vertical">
		    <li><a href="/about-us/paly-update">Paly Update</a></li>
		    <li><a href="/about-us/construction">Construction</a></li>
		  </ul>
		</li>
		<li><a href="/reunions">Reunions</a></li>
		<li><a href="/donate">Donate</a></li>
		<li><a href="/contact-us">Contact Us</a></li>
	      </ul>
	    </div>
	  </div>
	  </div>
  </div>
  <div class="content-yield">
		<%= yield %>
  </div>
  <%= javascript_include_tag "foundation/vendor/jquery", "foundation/vendor/what-input", "foundation/vendor/foundation", "foundation/app" %>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
